

.table th {
    background-color: #0dcaf0;
}

.table-responsive {
    overflow-x: auto;
    margin: 10px 20px;
    cursor: pointer;
}

.button-edit{
    float: left;
}

.button-delete{
    float: right;
}

.buttons {
    display: block;
  }

@media (max-width: 1280px) {
    .buttons {
      display: flex;
    }
}
  
  
  
  
  
  
  
  